/* 확률 입력상자 관련. */
#divTextInputs {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.label-text-input {
    display: inline-block;
    width: 3em;
}

.unit-specifier {
    width: auto;
    transition: opacity 0.3s ease-in-out;
}

.unit-specifier.invisible {
    visibility: hidden;
    opacity: 0;
}
