/* 
모든 계산기 페이지(현재로서는 메인 페이지를 제외한 모든 페이지)는
이 CSS가 필요하다.
*/

@import url('/romans-calculator/variables.css');

/* 라디오 버튼 보더 두께 변수. */
:root {
    --radio-border: max(2px, 0.1em); 
}


/* 기본 서식. */
h1 {
    font-size: x-large;
    margin-top: 0.3em;
    margin-bottom: 0;
}

h2 {
    font-size: large;
    margin-top: 0;
    margin-bottom: 1em;
}


/* 실제 계산기 영역. */
#calculatorArea {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: solid 3px var(--sub-color);
    height: auto;
}


/* 라디오 버튼. */
label:has(input[type="radio"]) {
    display: inline-flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    border-radius: 50%;
    border: var(--radio-border) solid var(--sub-color);
    transition: border-width 0.2s ease-in-out;
}

input[type="radio"]:focus-visible {
    outline: var(--radio-border) solid var(--main-color);
    outline-offset: var(--radio-border);
}

input[type="radio"]:checked {
    border: 0.4em solid var(--main-color);
    background-color: var(--menu-color)
}

input[type="radio"]:hover {
    box-shadow: 0 0 0 calc(var(--radio-border) * 2) var(--menu-color);
}


/* 텍스트 상자. */
input[type="text"] {
    font-family: inherit;
    width: 4em;
    color: var(--main-color);
    max-width: 40%;
    min-width: 4em;
    border: 2px solid var(--sub-color);
    border-radius: 0.5em;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid var(--main-color);
}

/* 계산하기 버튼. */
#calculate {
    font-family: inherit;
    height: 2.5em;
    width: 8em;
    margin: 10px;
    background-color: var(--back-color);
    color: var(--main-color);
    border-radius: 10px;
}

#calculate:focus-visible {
    outline: 1px solid var(--sub-color);
    outline-offset: 1px;
}

#calculate:hover {
    outline: 2px solid var(--sub-color);
}

#calculate:active {
    background-color: var(--sub-color);
    color: var(--back-color);
}